<strong>Hi, {{ student }}</strong>
<p> You have been enrolled, see the details below:</p>
<p>
  <strong> Starting date: </strong> {{ start_date}} <br />
  <strong> Your plan is: </strong> {{ plan }} <br />
  <strong> Your enrollment ending date is: </strong> {{ end_date}} <br />
  <strong> The price of entire enrollment is: $</strong> {{ price }} <br />
</p>
